import datetime
import os
import re
import tarfile

from muninn.struct import Struct
from muninn.util import TemporaryDirectory

ARCHIVE_PATH='{archive_path}'

def compress(source_filepath, target_filepath):
    # While using Python 2.6 we need to explicitly use the basename when creating the tgz
    # Otherwise the full path gets added in the gzip file (which gives problems on Windows)
    tgzfile = open(target_filepath, 'wb')
    tar = tarfile.open(os.path.basename(target_filepath), 'w:gz', tgzfile)
    rootlen = len(os.path.dirname(source_filepath)) + 1
    for base, dirs, files in os.walk(source_filepath):
        tar.add(base, base[rootlen:], recursive=False)
        for _file in files:
            fn = os.path.join(base, _file)
            tar.add(fn, fn[rootlen:], recursive=False)
    tar.close()


class MyTypePlugin(object):
    def __init__(self):
        self.product_type = 'MY_TYPE'
        self.description = ''

        self.is_multi_part_product = False
        self.is_auxiliary_product = False

        self.hash_type = 'md5'
        self.use_enclosing_directory = {use_enclosing_directory}

        self.namespaces = ['mynamespace2']

    def enclosing_directory(self, product):
        assert isinstance(product, Struct)
        assert product.mynamespace2.counter == 28

        return product.core.product_name

    def archive_path(self, product):
        assert isinstance(product, Struct)
        assert product.mynamespace2.counter in (27, 28)

        return ARCHIVE_PATH

    def identify(self, paths):
        assert isinstance(paths, list)

        return True

    def analyze(self, paths):
        assert isinstance(paths, list)

        path = paths[0]

        result = Struct()
        core_properties = result.core = Struct()

        core_properties.product_type = self.product_type

        if self.use_enclosing_directory and len(paths) > 1:
            core_properties.product_name = os.path.basename(os.path.dirname(path))
        else:
            core_properties.product_name = os.path.basename(path)

        ns2_properties = result.mynamespace2 = Struct()
        ns2_properties.counter = 28

        return result

    def export_tgz(self, archive, product, target_path, paths):
        assert product.mynamespace2.counter == 28

        if getattr(product.core, 'archive_path', None) is None:
            target_filepath = os.path.join(os.path.abspath(target_path), product.core.physical_name + ".tgz")
        else:
            target_filepath = os.path.join(os.path.abspath(target_path), product.core.archive_path, product.core.physical_name + ".tgz")

        if not os.path.exists(os.path.dirname(target_filepath)):
            os.makedirs(os.path.dirname(target_filepath))

        with TemporaryDirectory(prefix=".calc_hash-", suffix="-%s" % product.core.uuid.hex) as tmp_path:
            tmp_path = os.path.join(tmp_path, product.core.physical_name)
            os.makedirs(tmp_path)

            archive.retrieve(product.core.uuid, target_path=tmp_path) # TODO symlinks currently don't work with compress?

            compress(tmp_path, target_filepath)

        return target_filepath

    def post_create_hook(self, archive, product):
        assert product.mynamespace2.counter == 28

    def post_ingest_hook(self, archive, product, paths):
        for path in paths:
            assert os.path.exists(path)
            if path.endswith('pi2.txt'):
                1 / 0
        assert product.mynamespace2.counter == 28

    def post_pull_hook(self, archive, product, paths):
        if product.mynamespace2.counter == 27:
            1 / 0
        for path in paths:
            assert os.path.exists(path)
        assert product.mynamespace2.counter == 28

    def post_remove_hook(self, archive, product):
        assert product.mynamespace2.counter == 28


_plugin = MyTypePlugin()

_product_type_plugins = \
{
    _plugin.product_type: _plugin,
}


def product_types():
    return _product_type_plugins.keys()


def product_type_plugin(product_type):
    return _product_type_plugins[product_type]
