include COPYING CHANGES DEVELOPER.md
include test/test.py test/test.cfg.template test/product_type.py.template test/coverage.sh test/README.md
include test/data/pi.txt test/data/multi/1.txt test/data/multi/2.txt test/data/README
